Build started...
Build succeeded.
CREATE TABLE "EmailTemplates" (
    "Id" uuid NOT NULL,
    "Code" character varying(100) NOT NULL,
    "Subject" character varying(250) NOT NULL,
    "Body" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_EmailTemplates" PRIMARY KEY ("Id")
);


CREATE TABLE "Faculties" (
    "Id" uuid NOT NULL,
    "Name" character varying(150) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Faculties" PRIMARY KEY ("Id")
);


CREATE TABLE "Resources" (
    "Id" uuid NOT NULL,
    "Name" character varying(150) NOT NULL,
    "Description" character varying(500),
    "AvailableQuantity" integer NOT NULL,
    "Status" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Resources" PRIMARY KEY ("Id")
);


CREATE TABLE "Roles" (
    "Id" uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Code" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Roles" PRIMARY KEY ("Id")
);


CREATE TABLE "Spaces" (
    "Id" uuid NOT NULL,
    "Name" character varying(150) NOT NULL,
    "Type" integer NOT NULL,
    "Capacity" integer NOT NULL,
    "Location" character varying(250) NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Spaces" PRIMARY KEY ("Id")
);


CREATE TABLE "Careers" (
    "Id" uuid NOT NULL,
    "Name" character varying(150) NOT NULL,
    "FacultyId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Careers" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Careers_Faculties_FacultyId" FOREIGN KEY ("FacultyId") REFERENCES "Faculties" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "Alerts" (
    "Id" uuid NOT NULL,
    "Type" integer NOT NULL,
    "Description" character varying(500) NOT NULL,
    "ResolvedAt" timestamp with time zone,
    "IsResolved" boolean NOT NULL,
    "ResolutionObservation" character varying(1000),
    "ResourceId" uuid,
    "SpaceId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Alerts" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Alerts_Resources_ResourceId" FOREIGN KEY ("ResourceId") REFERENCES "Resources" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_Alerts_Spaces_SpaceId" FOREIGN KEY ("SpaceId") REFERENCES "Spaces" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "Users" (
    "Id" uuid NOT NULL,
    "Name" character varying(150) NOT NULL,
    "Email" character varying(256) NOT NULL,
    "PasswordHash" text NOT NULL,
    "Phone" character varying(20) NOT NULL,
    "RoleId" uuid NOT NULL,
    "CareerId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Users" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Users_Careers_CareerId" FOREIGN KEY ("CareerId") REFERENCES "Careers" ("Id") ON DELETE SET NULL,
    CONSTRAINT "FK_Users_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "Roles" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "Notifications" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "AlertId" uuid NOT NULL,
    "Message" character varying(1000) NOT NULL,
    "IsRead" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Notifications_Alerts_AlertId" FOREIGN KEY ("AlertId") REFERENCES "Alerts" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_Notifications_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);


CREATE TABLE "Reservations" (
    "Id" uuid NOT NULL,
    "Date" timestamp with time zone NOT NULL,
    "StartTime" interval NOT NULL,
    "EndTime" interval NOT NULL,
    "Reason" character varying(500) NOT NULL,
    "CurrentStatus" integer NOT NULL,
    "RequestDate" timestamp with time zone NOT NULL,
    "UserId" uuid NOT NULL,
    "SpaceId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Reservations" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Reservations_Spaces_SpaceId" FOREIGN KEY ("SpaceId") REFERENCES "Spaces" ("Id") ON DELETE SET NULL,
    CONSTRAINT "FK_Reservations_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "EmailLogs" (
    "Id" uuid NOT NULL,
    "ToEmail" character varying(256) NOT NULL,
    "SentAt" timestamp with time zone NOT NULL,
    "IsSent" boolean NOT NULL,
    "ErrorMessage" character varying(1000),
    "ReservationId" uuid,
    "AlertId" uuid,
    "TemplateId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_EmailLogs" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_EmailLogs_Alerts_AlertId" FOREIGN KEY ("AlertId") REFERENCES "Alerts" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_EmailLogs_EmailTemplates_TemplateId" FOREIGN KEY ("TemplateId") REFERENCES "EmailTemplates" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_EmailLogs_Reservations_ReservationId" FOREIGN KEY ("ReservationId") REFERENCES "Reservations" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "ReservationHistories" (
    "Id" uuid NOT NULL,
    "PreviousStatus" integer NOT NULL,
    "NewStatus" integer NOT NULL,
    "Justification" character varying(500) NOT NULL,
    "ChangeDate" timestamp with time zone NOT NULL,
    "ChangedById" uuid NOT NULL,
    "ReservationId" uuid NOT NULL,
    CONSTRAINT "PK_ReservationHistories" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ReservationHistories_Reservations_ReservationId" FOREIGN KEY ("ReservationId") REFERENCES "Reservations" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ReservationHistories_Users_ChangedById" FOREIGN KEY ("ChangedById") REFERENCES "Users" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "ReservationResources" (
    "Id" uuid NOT NULL,
    "RequestedQuantity" integer NOT NULL,
    "ReservationId" uuid NOT NULL,
    "ResourceId" uuid NOT NULL,
    CONSTRAINT "PK_ReservationResources" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ReservationResources_Reservations_ReservationId" FOREIGN KEY ("ReservationId") REFERENCES "Reservations" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ReservationResources_Resources_ResourceId" FOREIGN KEY ("ResourceId") REFERENCES "Resources" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "Vouchers" (
    "Id" uuid NOT NULL,
    "PdfFilePath" text NOT NULL,
    "GenerationDate" timestamp with time zone NOT NULL,
    "EmailSentDate" timestamp with time zone,
    "ReservationId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" uuid,
    "UpdatedBy" uuid,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" uuid,
    CONSTRAINT "PK_Vouchers" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Vouchers_Reservations_ReservationId" FOREIGN KEY ("ReservationId") REFERENCES "Reservations" ("Id") ON DELETE CASCADE
);


CREATE INDEX "IX_Alerts_ResourceId" ON "Alerts" ("ResourceId");


CREATE INDEX "IX_Alerts_SpaceId" ON "Alerts" ("SpaceId");


CREATE INDEX "IX_Careers_FacultyId" ON "Careers" ("FacultyId");


CREATE INDEX "IX_EmailLogs_AlertId" ON "EmailLogs" ("AlertId");


CREATE INDEX "IX_EmailLogs_ReservationId" ON "EmailLogs" ("ReservationId");


CREATE INDEX "IX_EmailLogs_TemplateId" ON "EmailLogs" ("TemplateId");


CREATE UNIQUE INDEX "IX_EmailTemplates_Code" ON "EmailTemplates" ("Code");


CREATE INDEX "IX_Notifications_AlertId" ON "Notifications" ("AlertId");


CREATE INDEX "IX_Notifications_UserId" ON "Notifications" ("UserId");


CREATE INDEX "IX_ReservationHistories_ChangedById" ON "ReservationHistories" ("ChangedById");


CREATE INDEX "IX_ReservationHistories_ReservationId" ON "ReservationHistories" ("ReservationId");


CREATE INDEX "IX_ReservationResources_ReservationId" ON "ReservationResources" ("ReservationId");


CREATE INDEX "IX_ReservationResources_ResourceId" ON "ReservationResources" ("ResourceId");


CREATE INDEX "IX_Reservations_SpaceId" ON "Reservations" ("SpaceId");


CREATE INDEX "IX_Reservations_UserId" ON "Reservations" ("UserId");


CREATE UNIQUE INDEX "IX_Roles_Code" ON "Roles" ("Code");


CREATE INDEX "IX_Users_CareerId" ON "Users" ("CareerId");


CREATE UNIQUE INDEX "IX_Users_Email" ON "Users" ("Email");


CREATE INDEX "IX_Users_RoleId" ON "Users" ("RoleId");


CREATE UNIQUE INDEX "IX_Vouchers_ReservationId" ON "Vouchers" ("ReservationId");



